.version.perform_sales /* version checker */
{
	color: #00001C;
	background-color: #927E7E;
}

.html
{
	background-color: #C8F4FF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 745px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 23px;
	margin-left: auto;
	margin-right: auto;
}

#menuu2425
{
	z-index: 4;
	width: 157px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 21px;
}

#u2426
{
	width: 157px;
	background-color: transparent;
	position: relative;
}

#u2427
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
}

#u2427:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2428-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 19px;
}

#u2427:hover #u2428-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2427:active #u2428-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2436
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
}

#u2436:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2439-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 19px;
}

#u2427.MuseMenuActive #u2428-4,#u2436:hover #u2439-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2436:active #u2439-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2468
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u2469-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 19px;
	left: 0px;
}

#u2436.MuseMenuActive #u2439-4,#u2468:hover #u2469-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2468:active #u2469-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2525
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u2468.MuseMenuActive,#u2525:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2528-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2468.MuseMenuActive #u2469-4,#u2525:hover #u2528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2525:active #u2528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2598
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u2598:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2600-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2525.MuseMenuActive #u2528-4,#u2598:hover #u2600-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2598:active #u2600-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2685
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u2685:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2687-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2598.MuseMenuActive #u2600-4,#u2685:hover #u2687-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2685:active #u2687-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2788
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u2788:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2789-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2685.MuseMenuActive #u2687-4,#u2788:hover #u2789-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2788:active #u2789-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2903
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u2903:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2904-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2788.MuseMenuActive #u2789-4,#u2903:hover #u2904-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2903:active #u2904-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3032
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u3032:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u3034-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2903.MuseMenuActive #u2904-4,#u3032:hover #u3034-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3032:active #u3034-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3175
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u3175:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u3178-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u3032.MuseMenuActive #u3034-4,#u3175:hover #u3178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3175:active #u3178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2433,#u2465,#u2524,#u2597,#u2684,#u2785,#u2900,#u3029,#u3172,#u3329
{
	width: 157px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u3332
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u3332:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2427:active,#u2436:active,#u2525:active,#u2598:active,#u2685:active,#u2788:active,#u2903:active,#u3032:active,#u3175:active,#u3332:active
{
	background-color: #6B6B6B;
	margin: 0px -10000px 0px 0px;
}

#u3335-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u3175.MuseMenuActive #u3178-4,#u3332:hover #u3335-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3332:active #u3335-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3332.MuseMenuActive #u3335-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2423
{
	z-index: 2;
	width: 511px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 178px;
}

#u2442
{
	z-index: 73;
	width: 313px;
	-pie-box-shadow: 6px 6px 8px #BDD2F2;
	-moz-box-shadow: 6px 6px 8px rgba(123, 165, 230, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(123, 165, 230, 0.5);
	box-shadow: 6px 6px 8px rgba(123, 165, 230, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #3CA9FF;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 689px;
}

#u2445-4
{
	z-index: 74;
	width: 66px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 38px;
}

#u2440
{
	z-index: 71;
	width: 59px;
	background-color: transparent;
	-webkit-transform: matrix(0.9994,0.0349,-0.0349,0.9994,1,-1);
	-ms-transform: matrix(0.9994,0.0349,-0.0349,0.9994,1,-1);
	-o-transform: matrix(0.9994,0.0349,-0.0349,0.9994,1,-1);
	transform: matrix(0.9994,0.0349,-0.0349,0.9994,1,-1);
	position: relative;
	margin-right: -10000px;
	margin-top: 707px;
	left: 944px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -705px;
}

