.version.plant_performance /* version checker */
{
	color: #0000F2;
	background-color: #DC6275;
}

.html
{
	background-color: #C8F4FF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 745px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 23px;
	margin-left: auto;
	margin-right: auto;
}

#menuu2946
{
	z-index: 4;
	width: 157px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 21px;
}

#u2989
{
	width: 157px;
	background-color: transparent;
	position: relative;
}

#u2990
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
}

#u2990:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2991-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 19px;
}

#u2990:hover #u2991-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2990:active #u2991-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2950
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
}

#u2950:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2953-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 19px;
}

#u2990.MuseMenuActive #u2991-4,#u2950:hover #u2953-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2950:active #u2953-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2955
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
}

#u2955:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2956-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 19px;
}

#u2950.MuseMenuActive #u2953-4,#u2955:hover #u2956-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2955:active #u2956-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2964
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u2964:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2965-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2955.MuseMenuActive #u2956-4,#u2964:hover #u2965-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2964:active #u2965-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2971
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u2971:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2972-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2964.MuseMenuActive #u2965-4,#u2971:hover #u2972-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2971:active #u2972-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2999
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u2999:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u3001-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2971.MuseMenuActive #u2972-4,#u2999:hover #u3001-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2999:active #u3001-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2976
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u2976:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2978-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2999.MuseMenuActive #u3001-4,#u2976:hover #u2978-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2976:active #u2978-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2985
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u2985:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2987-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2976.MuseMenuActive #u2978-4,#u2985:hover #u2987-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2985:active #u2987-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3072
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u3073-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
	left: 0px;
}

#u2985.MuseMenuActive #u2987-4,#u3072:hover #u3073-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3072:active #u3073-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3215
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u3072.MuseMenuActive,#u3215:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u3216-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u3072.MuseMenuActive #u3073-4,#u3215:hover #u3216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3215:active #u3216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2947,#u2954,#u2961,#u2968,#u2996,#u2975,#u2982,#u3071,#u3214,#u3371
{
	width: 157px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u3372
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u3372:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2990:active,#u2950:active,#u2955:active,#u2964:active,#u2971:active,#u2999:active,#u2976:active,#u2985:active,#u3215:active,#u3372:active
{
	background-color: #6B6B6B;
	margin: 0px -10000px 0px 0px;
}

#u3374-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u3215.MuseMenuActive #u3216-4,#u3372:hover #u3374-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3372:active #u3374-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3372.MuseMenuActive #u3374-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u3004
{
	z-index: 2;
	width: 511px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 178px;
}

#u3008
{
	z-index: 73;
	width: 313px;
	-pie-box-shadow: 6px 6px 8px #BDD2F2;
	-moz-box-shadow: 6px 6px 8px rgba(123, 165, 230, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(123, 165, 230, 0.5);
	box-shadow: 6px 6px 8px rgba(123, 165, 230, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #3CA9FF;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 689px;
}

#u3003-4
{
	z-index: 74;
	width: 65px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 38px;
}

#u3006
{
	z-index: 71;
	width: 59px;
	background-color: transparent;
	-webkit-transform: matrix(0.9994,0.0349,-0.0349,0.9994,1,-1);
	-ms-transform: matrix(0.9994,0.0349,-0.0349,0.9994,1,-1);
	-o-transform: matrix(0.9994,0.0349,-0.0349,0.9994,1,-1);
	transform: matrix(0.9994,0.0349,-0.0349,0.9994,1,-1);
	position: relative;
	margin-right: -10000px;
	margin-top: 707px;
	left: 944px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -705px;
}

