.version.view_invoices /* version checker */
{
	color: #00001E;
	background-color: #CF2D50;
}

.html
{
	background-color: #C8F4FF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 745px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 23px;
	margin-left: auto;
	margin-right: auto;
}

#menuu2548
{
	z-index: 4;
	width: 157px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 21px;
}

#u2563
{
	width: 157px;
	background-color: transparent;
	position: relative;
}

#u2564
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
}

#u2564:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2566-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 19px;
}

#u2564:hover #u2566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2564:active #u2566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2552
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
}

#u2552:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2554-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 19px;
}

#u2564.MuseMenuActive #u2566-4,#u2552:hover #u2554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2552:active #u2554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2559
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
}

#u2559:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2562-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 19px;
}

#u2552.MuseMenuActive #u2554-4,#u2559:hover #u2562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2559:active #u2562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2571
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u2571:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2572-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2559.MuseMenuActive #u2562-4,#u2571:hover #u2572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2571:active #u2572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2614
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u2617-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
	left: 0px;
}

#u2571.MuseMenuActive #u2572-4,#u2614:hover #u2617-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2614:active #u2617-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2701
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u2614.MuseMenuActive,#u2701:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2703-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2614.MuseMenuActive #u2617-4,#u2701:hover #u2703-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2701:active #u2703-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2800
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u2800:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2803-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2701.MuseMenuActive #u2703-4,#u2800:hover #u2803-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2800:active #u2803-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2917
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u2917:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2919-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2800.MuseMenuActive #u2803-4,#u2917:hover #u2919-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2917:active #u2919-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3044
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u3044:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u3047-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u2917.MuseMenuActive #u2919-4,#u3044:hover #u3047-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3044:active #u3047-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3187
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u3187:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u3190-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u3044.MuseMenuActive #u3047-4,#u3187:hover #u3190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3187:active #u3190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2549,#u2556,#u2570,#u2611,#u2698,#u2799,#u2914,#u3043,#u3186,#u3343
{
	width: 157px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u3344
{
	width: 157px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u3344:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u2564:active,#u2552:active,#u2559:active,#u2571:active,#u2701:active,#u2800:active,#u2917:active,#u3044:active,#u3187:active,#u3344:active
{
	background-color: #6B6B6B;
	margin: 0px -10000px 0px 0px;
}

#u3347-4
{
	width: 157px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u3187.MuseMenuActive #u3190-4,#u3344:hover #u3347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3344:active #u3347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3344.MuseMenuActive #u3347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2545
{
	z-index: 2;
	width: 511px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 178px;
}

#u2547
{
	z-index: 73;
	width: 313px;
	-pie-box-shadow: 6px 6px 8px #BDD2F2;
	-moz-box-shadow: 6px 6px 8px rgba(123, 165, 230, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(123, 165, 230, 0.5);
	box-shadow: 6px 6px 8px rgba(123, 165, 230, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #3CA9FF;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 689px;
}

#u2577-4
{
	z-index: 74;
	width: 65px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 38px;
}

#u2543
{
	z-index: 71;
	width: 59px;
	background-color: transparent;
	-webkit-transform: matrix(0.9994,0.0349,-0.0349,0.9994,1,-1);
	-ms-transform: matrix(0.9994,0.0349,-0.0349,0.9994,1,-1);
	-o-transform: matrix(0.9994,0.0349,-0.0349,0.9994,1,-1);
	transform: matrix(0.9994,0.0349,-0.0349,0.9994,1,-1);
	position: relative;
	margin-right: -10000px;
	margin-top: 707px;
	left: 944px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -705px;
}

